---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="#1 Software para tu Negocio - Pucolab">
  <header>
    <div class="bg-indigo-600 text-white">
    <nav class="flex justify-between p-2">
        <div class="flex items-center gap-2">
            <img src="/logo.svg" alt="Logo de Punto y Coma Laboratorios" class="w-10 h-10 rounded-full" />
            <h2>Punto y Coma Laboratorios</h2>
        </div>
        <ul class="flex items-center w-[50%] justify-around">
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Nuestros Proyectos</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </nav>
  </div>
</header>
  <main
    class="w-full max-w-screen-2xl min-h-dvh flex flex-col justify-start items-center"
  >
    <div class="py-20 flex flex-col gap-3">
      <Button>Hola</Button>
      <Button variant={"destructive"}>Hola</Button>
      <Button variant={"ghost"}>Hola</Button>
      <Button variant={"link"}>Hola</Button>
      <Button variant={"outline"}>Hola</Button>
      <Button variant={"secondary"}>Hola</Button>
    </div>
  </main>
</Layout>s
